img {
  max-width: 100%;
  height: auto
}

img {
  display: inline-block;
}


.row {
  display: flex;
}

.column {
  flex: 50%;
}

.left {
  width: 25%;
}

.right {
  width: 75%
}

.top-left-header {
  padding: 5px;
  text-align: left;
  color: white;
  font-size: 20px;
}

h2 {
  text-align: center;
  color: white;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif
}
